/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #121212;
}
a {
  text-decoration: none;
  color: inherit;
}
.section-title {
  text-align: center;
  margin-bottom: 20px;
  color: #F77F00;
}
.section-title span {
  color: #FFB703;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}



